* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #333;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  min-height: 100vh;
  display: grid;
  grid: "img header" 27rem "aside main" 1fr/35rem auto;
}
.container__header {
  grid-area: header;
}
.container__picture {
  grid-area: img;
}
.container__aside {
  grid-area: aside;
}
.container__main {
  grid-area: main;
}

.header {
  padding: 6rem 5rem;
  text-align: center;
  background: linear-gradient(to right, #2071e7, #00c3ff);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 2rem;
}
.header__description {
  font-size: 1.5rem;
  letter-spacing: 0.7rem;
}

.picture {
  padding: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.picture__img {
  border-radius: 50%;
}

.aside {
  background-color: #fafafa;
  border-right: 1px solid #ddd;
  padding: 4rem;
}
.aside__contact {
  margin-bottom: 4rem;
}
.aside__contact__title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.aside__contact__h3 {
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}
.aside__contact__p {
  display: block;
  margin-bottom: 1.2rem;
  font-style: italic;
}
.aside__education {
  margin-bottom: 4rem;
}
.aside__education__title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.aside__education__h3 {
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}
.aside__education__link {
  display: block;
  margin-bottom: 1.2rem;
  font-style: italic;
}
.aside__skills {
  margin-bottom: 4rem;
}
.aside__skills__title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.aside__skills__h3 {
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}

.bar-skill {
  margin: 1rem 0 1.5rem;
  height: 0.5rem;
  background: #999;
  position: relative;
}
.bar-skill__content, .bar-skill__content--scss, .bar-skill__content--html {
  height: 0.5rem;
}
.bar-skill__content--html {
  background-color: #dd4b25;
  width: 95%;
}
.bar-skill__content--scss {
  background-color: #cf649a;
  width: 90%;
}
.bar-skill__dot, .bar-skill__dot--scss, .bar-skill__dot--html {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #2980b9;
  top: -5px;
}
.bar-skill__dot--html {
  left: calc(95% - 7.5px);
}
.bar-skill__dot--scss {
  left: calc(90% - 7.5px);
}

.aside__langue {
  margin-bottom: 4rem;
}
.aside__langue__title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.aside__langue__h3 {
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}
.aside__langue__stars {
  margin-bottom: 1rem;
  color: #2071e7;
}
.aside__langue__stars .star-modif {
  color: #999;
}

.aside__social {
  margin-bottom: 4rem;
}
.aside__social__title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.aside__social__container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.aside__social__container i {
  width: 50px;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
