$font-family: "Mulish", sans-serif;
$color-light-blue: #00c3ff;
$color-blue: #2071e7;
$color-dark-blue: #2980b9;
$color-text: #333;
$color-hint: #999;
$color-grey-light: #ddd;
$background-color: #fafafa;
