@use "base";
@use "variables";
@use "mixins";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "img header" 27rem
    "aside main" 1fr / 35rem auto;

  &__header {
    grid-area: header;
  }

  &__picture {
    grid-area: img;
  }

  &__aside {
    grid-area: aside;
  }

  &__main {
    grid-area: main;
  }
}

.header {
  padding: 6rem 5rem;
  text-align: center;
  background: linear-gradient(
    to right,
    variables.$color-blue,
    variables.$color-light-blue
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 2rem;
  }

  &__description {
    font-size: 1.5rem;
    letter-spacing: 0.7rem;
  }
}

.picture {
  padding: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$background-color;

  &__img {
    border-radius: 50%;
  }
}

.aside {
  background-color: variables.$background-color;
  border-right: 1px solid #ddd;
  padding: 4rem;

  &__contact {
    margin-bottom: 4rem;

    &__title {
      @include mixins.title-aside;
    }

    &__h3 {
      @include mixins.h3-aside;
    }

    &__p {
      @include mixins.p-aside;
    }
  }

  &__education {
    margin-bottom: 4rem;

    &__title {
      @include mixins.title-aside;
    }

    &__h3 {
      @include mixins.h3-aside;
    }

    &__link {
      @include mixins.p-aside;
    }
  }

  &__skills {
    margin-bottom: 4rem;

    &__title {
      @include mixins.title-aside;
    }

    &__h3 {
      @include mixins.h3-aside;
    }
  }
}

.bar-skill {
  margin: 1rem 0 1.5rem;
  height: 0.5rem;
  background: variables.$color-hint;
  position: relative;

  &__content {
    height: 0.5rem;
  }

  &__content--html {
    @extend .bar-skill__content;
    background-color: #dd4b25;
    width: 95%;
  }

  &__content--scss {
    @extend .bar-skill__content;
    background-color: #cf649a;
    width: 90%;
  }

  &__dot {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: variables.$color-dark-blue;
    top: -5px;
  }

  &__dot--html {
    @extend .bar-skill__dot;
    left: calc(95% - 7.5px);
  }

  &__dot--scss {
    @extend .bar-skill__dot;
    left: calc(90% - 7.5px);
  }
}

.aside__langue {
    margin-bottom: 4rem;

    &__title {
        @include mixins.title-aside;
    }

    &__h3 {
        @include mixins.h3-aside;
    }

    &__stars {
        margin-bottom: 1rem;
        color: variables.$color-blue;

        .star-modif {
            color: variables.$color-hint
        }
    }
}

.aside__social {
    margin-bottom: 4rem;

    &__title {
        @include mixins.title-aside;
    }

    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        i {
            width: 50px;
            font-size: 2rem;
        }
    }
}
